<div class="table-container">
    <div class="table-container__header">
        <h2 class="table-container__title">Categories</h2>
        <a href="/add-category" class="table-container__button">Add Category</a>
    </div>

    <% if (typeof errorMessage !=='undefined' ) { %>
        <div class="alert">
            <%= errorMessage %>
        </div>
        <% } %>

            <div class="table-container__content">
                <table class="table-container__table">
                    <thead class="table-container__thead">
                        <tr class="table-container__tr">
                            <th class="table-container__th">ID</th>
                            <th class="table-container__th">Category Name</th>
                            <th class="table-container__th">Number of Products</th>
                            <th class="table-container__th">Description</th>
                            <th class="table-container__th">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="table-container__tbody">
                        <% if(categories.length !==0) { %>
                            <% categories.forEach(category=> { %>
                                <tr class="table-container__tr">
                                    <td class="table-container__td">
                                        <%= category.id %>
                                    </td>
                                    <td class="table-container__td">
                                        <%= category.name %>
                                    </td>
                                    <td class="table-container__td">
                                        <%= category.number_of_products %>
                                    </td>
                                    <td class="table-container__td">
                                        <%= category.description %>
                                    </td>
                                    <td class="table-container__td">
                                        <div class="table-container__actions">
                                            <a href="/edit-category/<%= category.id %>"
                                                class="table-container__button table-container__button--edit">Edit</a>
                                            <form action="/delete-category/<%= category.id %>" method="POST"
                                                onsubmit="return confirm('Are you sure you want to delete this category?');">
                                                <button type="submit"
                                                    class="table-container__button table-container__button--delete">Delete</button>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                                <% })} %>
                    </tbody>
                </table>
            </div>
</div>