<div class="table-container">
    <div class="table-container__header">
        <h2 class="table-container__title">Products</h2>
        <a href="/add-product" class="table-container__button">Add Product</a>
    </div>

    <div class="table-container__content">
        <table class="table-container__table">
            <thead class="table-container__thead">
                <tr class="table-container__tr">
                    <th class="table-container__th">ID</th>
                    <th class="table-container__th">Product Name</th>
                    <th class="table-container__th">Product Size</th>
                    <th class="table-container__th">Category</th>
                    <th class="table-container__th">Price</th>
                    <th class="table-container__th">Description</th>
                    <th class="table-container__th">Actions</th>
                </tr>
            </thead>
            <tbody class="table-container__tbody">
                <% if(products.length !==0) { %>
                    <% products.forEach(product=> { %>
                        <tr class="table-container__tr">
                            <td class="table-container__td">
                                <%= product.id %>
                            </td>
                            <td class="table-container__td">
                                <%= product.name %>
                            </td>
                            <td class="table-container__td">
                                <%= product.variants.size %>
                            </td>
                            <td class="table-container__td">
                                <%= product.category %>
                            </td>
                            <td class="table-container__td">€<%= product.variants.price %>
                            </td>
                            <td class="table-container__td">
                                <%= product.description %>
                            </td>
                            <td class="table-container__td">
                                <div class="table-container__actions">
                                    <a href="/products/edit/1"
                                        class="table-container__button table-container__button--edit">Edit</a>
                                    <form action="/delete-product/<%= product.id %>" method="POST"
                                        onsubmit="return confirm('Weet je zeker dat je dit product wilt verwijderen?');">
                                        <button type="submit">Verwijderen</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        <% })} %>
            </tbody>
        </table>
    </div>
</div>